// ===============
// colors palette
// ===============
:root {
	--bg-main: #000000; // Цвет фона
	--bg-second: #0E1A30; // Цвет подложки
	--color-main: #427AE8; // Основной цвет
	--color-medium: #C9D4EB; // Средний цвет
	--text-main: #ffffff; // Основной текст
	--text-second: #192F59; // Дополнительный текст
	--gradient-main: linear-gradient(180deg, #0E1A30 0%, #000 100%); // Градиент основной
	--green: #41B883; // Зеленый, был в макете.
}